build
.vscode/settings.json
.vscode/c_cpp_properties.json
/Report
CLAUDE.md
.mcp.json
.cache
.claude
.serena
/Mcode/README_MATLAB_Logger.md
/Mcode/robot_system_identification_input.asv
/Mcode/emergency_save*
/Mcode/temp_save*
/Mcode/fre*
/Mcode/rotation*
